:root{
    --first-gradient-color: hsl(249, 99%, 64%);
    --second-gradient-color: hsl(278, 94%, 30%);

    --red-input-error: hsl(0, 100%, 66%);

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
}

#front-card{
    background-image: url('./images/bg-card-front.png');
    background-repeat: no-repeat;
}

#card-number{
    position: relative;
    top: 65%;
    left: 10%;
}

#card-name{
    position: relative;
    top: 80%;
    left: 10%;
}

#back-card{
    background-image: url('./images/bg-card-back.png');
    background-repeat: no-repeat;
}

#back-card span{
    position: relative;
    top: 44%;
    left: 80%;
}

#card-container{
    width: 100%;
    position: relative;
}

.card{
    color: var(--white);
    position: relative;
    width: 273px;
    height: 150px;
    border-radius: 10px;
}

label span{
    text-transform: uppercase;
    font-size: 90%;
    padding-bottom: 5px;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form {
    background-color: var(--white);
    width: 100vw;
    padding: 25px;
    display: grid;
}

input{
    align-items: flex-end;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--light-grayish-violet);
}

button {
    background-color: var(--very-dark-violet);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 15px;
}


@media (min-width: 345px) {
    body{
        background-image: url('./images/bg-main-desktop.png');
    }

    .card{
        width: 447px;
        height: 245px;
    }
}